  <footer class="main-footer">
    <!-- 右边 -->
    <div class="pull-right hidden-xs">
      网站建设中...
    </div>
    <!-- 左边 -->
    <strong>Copyright &copy; 2016 <a href="#">伯虎杂货</a>.</strong> All rights reserved.
  </footer>